
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
 @include mat.theme((
  color: (
    primary: mat.$green-palette,
    tertiary: mat.$violet-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0,
));

}

body {
  /* Enable Material dark mode */
  color-scheme: dark;

  background-color: #0f1115; /* match your app */
  color: #e6e9ef;
  font: var(--mat-sys-body-medium);

  margin: 0;
}
